# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtualenv
.venv/
venv/
env/

# Environment
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Folder lama (kalau masih ada)
app/